#content{
}
#content #sidebar{
}
#content #sidebar ul{
}
#content #sidebar ul li{
}
#content #sidebar ul li.active{
}
#content #sidebar ul li.active a{
}
#content #body{
  width:960px;
  margin:0 auto;
}

/*content*/

#movieListing > ul{ 
}
#movieListing > ul > li, #movieListing div#fuzzy-search-results > ul > li{ 
  margin:10px;
}
#movieListing div#fuzzy-search-results div#search-wait{
  margin-left:10px;
}
#movieListing .no-data{
  width:300px;
}
#movieListing a.add-movie{
  font-size:22px;
  float:right;
  margin:10px;
  font-weight:bold;
  padding:6px 0 6px 40px;
  background:transparent url(/images/icons/simplicio-icon-set/32x32/notification_add.png) no-repeat 0 0;
  text-decoration:none;
}
#movieListing ul li.active-movie{ 
}
#movieListing ul li .content{
}
#movieListing ul li.active-movie .content{
}
#movieListing ul li ul{
  height:465px;
  border:1px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:10px;
  background-color:#fff;
}
#movieListing ul li ul li{
  margin:10px 0;
}
#movieListing ul li ul li div{
}
#movieListing ul li ul li.images{
  height:270px;
}
#movieListing ul li ul li.clickable{
  cursor:pointer;
}
#movieListing ul li ul li.name{
  font-size:20px;
}
#movieListing ul li ul li.tagline{
  color:#666;
}
#movieListing ul li ul li.plot{
  color:#aaa;
}

#movieListing h3.search-result-header{
  color:#CD5300;
  border-bottom: 2px solid #CD5300;
  margin:10px;
  padding-bottom:3px;
}
#movieListing h3.search-result-header:after{
  content:' >>>';
}