<div id='flash'>
  <% if flash[:notice] or flash[:error] -%>
    <div class='<%= flash[:error] ? 'error' : 'notice' %>'><%=h flash[:error] || flash[:notice] -%></div>
    <% flash[:error] = flash[:notice] = nil -%>
  <% end -%>
</div>