<div id='lightbox-controls'>
  <div id='lightbox-controls-background'>
  </div>
  <div id='lightbox-controls-body'>
    <%= link_to_function "Close", "Overlay.Hide()" %> |
    <%= link_to_function "<<< Previous", "Overlay.Previous()" %> |
    <%= link_to_function "Next >>>", "Overlay.Next()" %>
  </div>
</div>

<div id='lightbox-content'>
</div>