<% unless @activities.empty? %>
  <ul class='activities'>
    <%= render :partial=> 'activities/activity', :collection=> @activities %>
  </ul>
<% else %>
  <div class='no-data'>
    No activity available
  </div>
<% end %>